{% extends 'usuarios/base.html' %}
{% block conteudo %}
    {% if mensagem %}
        <div class="alert alert-success">
            {{ mensagem }}
        </div>
    {% endif %}

    <form method="post"  action="{% url 'cadastrar_produto' %}">
        {% csrf_token %}
        <div style="text-align:center;" class="container">
            <center>
                <div class="form-group col-md-4">
                    <label for="nome">Nome</label>
                    <input class="form-control" type="text" name="nome" placeholder="Nome">
                </div>
                <div class="form-group col-md-4">
                    <label for="descricao">Descrição</label>
                    <input class="form-control" type="text" name="descricao" placeholder="Descrição">
                </div>
                <div class="form-group col-md-4">
                    <label for="cod_produto">Código do Produto</label>
                    <input class="form-control" type="text" name="cod_produto" placeholder="Código do Produto">
                </div>
                <div class="form-group col-md-4">
                    <label for="cod_produto">Preço</label>
                    <input class="form-control" type="number" name="preco" placeholder="Preço">
                </div>
                <div class="form-group col-md-4">
                    <label for="categoria">Categoria</label>
                    <input class="form-control" type="text" name="categoria" placeholder="Categoria">
                </div>
                <div class="form-group col-md-4">
                    <label for="quantidade">Quantidade</label>
                    <input class="form-control" type="number" name="quantidade" placeholder="Quantidade">
                </div>
                <div class="form-group col-md-4">
                    <label for="fornecedor">Fornecedor</label>
                    <input class="form-control" type="text" name="fornecedor" placeholder="Fornecedor">
                </div>
                <div class="form-group col-md-4">
                    <label for="validade">Validade</label>
                    <input class="form-control" type="datetime-local" name="validade">
                </div>
            <button class="btn btn-primary mt-3">Salvar</button>
            </center>
        </div>
        {{form.as_p}}
        
    </form>
      
{% endblock %}
